.link{
    color:rgb(255, 255, 255);
    padding-top:130px;
    text-decoration: none;
}

.listStyle{
    color:rgb(255, 255, 255);
    list-style: none;
    display: inline;
    //padding-left:20px;
    padding:30px 0px 0px 30px;
}

.headerarea{
    height: 130px;
    width:100%;
    background: #8a0468;
    padding-top:30px;
    padding-left:5%;
}

.navbar{
    background: #514b52;
    height: 50px;
    width: 100%;
    padding:10px 0px 0px 30px;

}

.container{
    height: 100vh;
    width: 100vw;
    background: #cccccc;

}
.collum{
    width: 50%;
    height: 550px;
    background: rebeccapurple;
    float:left;
}